APScheduler==3.11.1
asgiref==3.9.1
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.4
django-apscheduler==0.7.0
django-cron==0.6.0
djangorestframework==3.16.0
greenlet==3.2.4
gunicorn==23.0.0
idna==3.10
packaging==25.0
playwright==1.54.0
psycopg==3.2.10
pyee==13.0.0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.5
schedule==1.2.2
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
